html, body {
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 20px;
    font-family: Arial;
    background-size: 100% auto;
      text-align: center;
     margin-bottom: 10px; 
         text-align:center; 
        /* width: 210px; */
         color:cadetblue; 
         border: solid black 2px; 
         } 
  
         input[type="button"] 
         { 
         background-color:cadetblue; 
         color: black; 
         border: solid black 2px; 
         width:100% 
         } 
  
         input[type="text"] 
         { 
         background-color:white; 
         border: solid black 2px; 
         width:100% 
}
